<style>
    .component-wrapper{
        border:1px solid #ddd;
        padding: 30px;
    }
    label{
        margin-bottom:10px;
        font-size: 14px;
        display: block;
        color:#333;
        font-weight: bold;
    }
    .button-convert{
        background: #288ad6;
        border: none;
        padding: 11px 20px;
        color: #fff;
        font-size: 14px;
        border-radius: 3px;
    }
    .button-tandardize{
        background: yellowgreen;
        color: #333;
    }

</style>
<div style="margin: 20px auto;text-transform: uppercase;font-size: 25px;">Custom Form</div>
<div class="component-wrapper">
    <div style="display: flex;justify-content: space-between">
        <div class="field" style="width: 49%;">
            <label class="label" for="firstname"><span data-bind="i18n: 'First Name'"></span></label>
            <div class="control">
                <input name="firstname"
                   id="firstname"
                   type="text"
                   class="input-text"
                >
            </div>
        </div>
        <div class="field" style="width: 49%;">
            <label class="label" for="lastname"><span data-bind="i18n: 'Last Name'"></span></label>
            <div class="control">
                <input name="lastname"
                   id="lastname"
                   type="text"
                   class="input-text"
                >
            </div>
        </div>
    </div>

    <div class="field" style="padding: 15px 0;">
        <label class="label" for="fullname"><span data-bind="i18n: 'Full Name'"></span></label>
        <div class="control">
            <input name="fullname"
               id="fullname"
               type="text"
               class="input-text"
            >
        </div>
    </div>
    <div class="">
        <input type="submit" class="button-convert" value="Convert name to full name" data-bind="click: converToFullName">
        <input type="submit" class="button-convert button-tandardize" value="Standardize" data-bind="click: fullNameToFirstName">
    </div>
</div>
