@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/static/Orbitron-Bold.ttf');
}

.clock-main{
    font-family: 'Orbitron';
}
.custom-price-login{
    color:#fff8d7;
    font-size: 11px;
    text-transform: uppercase;
    padding: 5px 10px;
    background:#288ad6;
    white-space: nowrap;
}
